<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Job scrapper</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
</head>
<body>
  <main class="container">
    <h1>Job Scrapper</h1>
    <h4>What job do you want {{name}}?</h4>
    <form action="/search">
      <input type="text" name="keyword" placeholder="write keyword please">
      <button>search!</button>
    </form>
  </main>
</body>
</html>